<div class="container">
   <h1>SharksVolunteers Admin Panel</h1>
   <table class="table table-striped">
		<thead>
		  <tr>
			<th>ID</th>
			<th>Feedback</th>
		  </tr>
		</thead>
		<tbody>
		 {{#each items}}
		 <tr>
			<td>{{id}}</td>
			<td>{{feedback}}</td>
		 </tr>
         {{/each}}
		</tbody>
   </table>
</div>


